<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-bind:id="uuid" v-bind:class="name">{{num}}</p>
        <p>{{ doubleNum}}</p>
        <div v-if="loading">    <!-- v-if의 경우 조건이 안되면 아에 태그를 삭제한다. -->
            Loading...
        </div>
        <div v-else>
            test user has been logged in
        </div>
        <div v-show="loading"> <!-- v-show의 경우 조건이 안되면 태그를 삭제하진 않고 display:none; 속성을 추가한다. -->
            Loading...
        </div>
        <input type="text" v-model="message">
        <p>{{message}}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el : '#app',
            data : {
                num: 10,
                uuid: 'abc1234',
                name: 'text-blue',
                loading: true,
                message: ''
            },
            computed : {// 기본 데이터 값에 따라 같이 바뀌는 것을 정의할 때 사용함
                doubleNum: function(){
                    return this.num * 2;
                }
            }
        })
    </script>
</body>
</html>